.text-style {
    font-family: "Times New Roman";
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    color: black;
    background-color: transparent;
    margin: 10px 20px;
    padding: 5px 10px;
}
